h1 {
    color: red;
    text-align: center;
    font-size: 50px;
}

#floor1_map {
    position: relative;
    width: 300px;
    height: 300px;
}

#dot {
    width: 15px;
    height: 15px;
    background-color: #5e0d57; 
    border-radius: 50%; 
    position: absolute;
    left: 47%; 
    top: 44%;
    transform: translate(-50%, -50%); 
    cursor: pointer;
}
